# ==================================
# PYTHON
# ==================================

__pycache__/
*.pyc
*.pyo
*.pyd


# ==================================
# JUPYTER
# ==================================

.ipynb_checkpoints/


# ==================================
# VIRTUAL ENV
# ==================================

venv/
env/
drowsiness_env/


# ==================================
# DATASETS
# ==================================

dataset/
datasets/


# ==================================
# TRAINING OUTPUT
# ==================================

logs/
checkpoints/


# ==================================
# MODEL FILES
# ==================================

models/*.keras
models/*.h5


# ==================================
# OS FILES
# ==================================

.DS_Store
Thumbs.db


# ==================================
# STREAMLIT
# ==================================

.streamlit/


# ==================================
# VS CODE
# ==================================

.vscode/


# ==================================
# TEMP FILES
# ==================================

temp/
cache/